# Analyse de Données - Développeur
## TP3 : Apprentissage Non Supervisé (Clustering)
## 0) Tableau de Données *Logiciels de ML* 
### 0.1) Exécutez le code ci-dessous qui permet de lire un fichier de type tableur.

In [1]:
import numpy as np
import pandas as pd
dataf = pd.read_excel("MLlogiciel.xls")
dataf

#from scipy.spatial.distance import cityblock #import que j'ai fait

#Etudes = nb d'annees passées dans l'enseignement superieur

  logiciel  sans  amel.  amel.+  âge  études
0     Blue     2      4      10   45       1
1     Blue     2     16       2   38       3
2   Yellow    11      7       5   25       4
3    Green    16     11      19   24       2
4   Yellow    19      4       4   23       1
5    Green     3     13      17   22       3
6   Yellow    12      6      11   19       1
7    Green    10     14      20   18       0
8     Blue     1     14       2   18       1
9     Blue     7     15       9   16       0

In [2]:
dataf [['sans', 'âge']][1:4]
dataf [['logiciel']][5:]

#Explications
#Ici on est sous forme d'un dataframe, c'est un array, une portion de datafame

  logiciel
5    Green
6   Yellow
7    Green
8     Blue
9     Blue

#### 0.2) A quoi sert le code ci-dessous ?

In [3]:
T = dataf.iloc[5:,1:4].values #On affecte un tableau numpy
n,p = np.shape(T)
logiciel = dataf.iloc[5:,0].values

#Explications
#iloc : 
#values : Correspond aux valeurs de la première ligne dans le framwork dataframe on precise les lignes et les colones qui nous intéressent

#Autre version
T = dataf.iloc[5:,1:4].values #On affecte un tableau numpy
X = dataf.iloc[:,1:4].values #On affecte un tableau numpy
n,p = np.shape(T)
logiciel = dataf.iloc[5:,0].values #

### 1) Calcul de Distances.
#### 1.1) Ecrivez une fonction *dist* permetant de calculer la distance de Manhattan (ou Cityblock), euclidienne (*euclidean*, distance par défaut), de Chebychev (ou Chebyshev), et Cosinus, entre deux points $x$ et $y$.
#### 1.2) Utilisez-la pour retrouver quelques résultats du TD3.

In [4]:
#--------- Version originale ---------
#def dist(x,y,dname='euclidean'):
#    if (dname == 'manhattan') or (dname == 'cityblock'):
#
#   elif 
#
#
#
#
#
#
#    else:
#        d = 
#    return d

#--------- Version modifiée ---------
#def dist(x,y,dname='euclidean'):
#    if (dname == 'manhattan') or (dname == 'cityblock'):
#        #on defini le dataframe
#        manhattan = pd.DataFrame({'X': [2, 4, 10, 45,1], 'Y': [2, 16, 2, 38,3], 'Z': [11, 7, 5, 25, 4]})
#        
#        #Calcul de la distance de manhattan entre X et Y
#        cityblock(manhattan.X, manhattan.Y)
#    #elif 
#
#
#
#
#
#
#    #else:
#    #    d = 
#    #return 

#--------- Correction ---------
def dist(x,y,dname='euclidean'):
    #Pour Manhattan
    if (dname == 'manhattan') or (dname == 'cityblock'):
        d = abs(x-y).sum() #abs = fonction numpy
    #Pour chebychev
    elif (dname == 'chebychev') or (dname == 'shebychev'):
        d = abs(x-y).max()
    elif dname == 'cosine':
        d = 1 - (x @ y) / np.sqrt(x@x) / np.sqrt (y@y) #Diviser par le produit des normes (racine carré du carré des normes(?))
        #Calcul du carré de la norme de X(x@x) et Y(y@y)
    #Calcul de la distance Euclidienne
    elif dname == 'euclidean':
        d = ((x-y)**2).sum()
        d = ((x-y) @ (x-y))**0,5
    else:
        d = ((x-y) @ (x-y))**0,5
    return d

In [5]:
#Distance  de Manhattan
dist(X[5], X[6], 'manhattan')

22

In [6]:
#Distance  de Chebychev
dist(X[5], X[6], 'chebychev')

9

In [7]:
#Ce n'est pas la correction, j'ai fait cette ligne "toute seule"

#Distance Euclidienne
dist(X[5], X[6], 'euclidean')

(1, 5)

In [8]:
#Cosinus
dist(X[5], X[6], 'chebychev')

a = dataf['amel.'] #[5:]
aplus = dataf['amel.+']

dist(a, aplus, 'cosine')

0.2069501920694563

### 2) Ecrivez une fonction *prototyping(data,partition)* de *représentation* des clusters d'un tableau de données *data* décrit par une indicatrice de *partition*.
### Vous la testerez sur les données du tableau *T*  pour l'indicatrice *Y* ci-dessous afin de retrouver les résultats du TD3.

In [9]:
#--------- Version originale ---------
Y = [3,2,3,1,1]

def prototyping(data,partition): #
    clust_id = np.unique(partition)
    data_dim = data.shape [1]
    clust_nb = len(clust_id)
    centroids = np.zeros (clust_nb, data_dim)#Le nombre de cluster est 3 (cf TD3 - exercice 2 (avec les tableaux))
    #np.zero permet de faire un tableau de 0
    for i in range(clust_nb):
        centroids [i] = data[partition==clust_id [i]].mean(axis = 0)#centroids est un tableau de taille
    return centroids #centroids mot anglais pour baricentre

#Commentaires supplémentaires

In [10]:
T[[0,3,4]].mean (axis = 0) #cf TD3 - exercice 2 (avec les tableaux)

array([ 3.66666667, 14.        ,  9.33333333])

In [11]:
#--------- Correction ---------
Y = [1,2,3,1,2]
V = prototyping(T,Y)
V

TypeError: Cannot interpret '3' as a data type

In [79]:
np.unique (dataf['logiciel'])

array(['Blue', 'Green', 'Yellow'], dtype=object)

### 3) Ecrivez une fonction *clustering(data,centroids,dname)* d'*affectation* des données d'un tableau *data* à des *clusters* au sens de la distance *dname* (euclidienne par défaut) au plus proche des *centroids*. 
### Vous la testerez sur les données du tableau *T* et les *centroids* obtenus à la question précédente afin de retrouver les résultats du TD3.

In [12]:
#--------- Correction ---------
def clustering(data,centroids,dname='eulidean'):
    dta_nb = data.shape[0]
    clust_nb = centroids.shape[0]
    distances_to_centroids = np.zeros((clust_nb, data_nb))
    
    for k in range(data_nb):
        for i in range(clust_nb):
            distances_to_centroids[i,k] = dist(data [k], centroids[i], dname)
    clusters = distances_to_centroids.argmin (axis = 0) + 1 #+1 pour avoir les resultats du TD3
    inertia_intra =(distances_to_centroids.min(axis=0)**2).mean
    return clusters, distances_to_centroids,inertia_intra

In [13]:
#V.shape
Y,D,I = clustering(T,V)
Y

V = prototyping(T,Y)
V


Y,D,I = clustering(T,Y)
Y


V = prototyping(T,Y)
V


Y,D,I = clustering(T,Y)
Y
I

NameError: name 'V' is not defined

In [ ]:
#Calcul de l'inertie intra cluster
#On a fait la moyenne des distances du baricentre

### 4) Que représente l'enchaînement des questions 2) et 3) en termes d'algorithme des classification non supervisée ?

### 5) Codez l'algorithme *C-means* dans une fonction *cmeans(data,c,maxiter=50,eps=0.001)* qui appellera les fonctions *clustering* et *prototyping* de sorte de réaliser l'algorithme des *C-means*.
### L'initialisation sera réalisée en choisissant aléatoirement *c* points du tableau *data* à l'aide la fonction *random.permutation* de *numpy*.
### Vous la testerez sur les données du tableau *T* afin de retrouver les résultats du TD3.

In [ ]:
import numpy as np 

def cmeans(data,clust_nb,dname='eulidean',maxiter=50,eps=0.001):
data_ nb, data_dim = data.shape
centroids = data[np.random.permutation(data_nb)[:clust_nb],:]
    iter=0
    stop = False
    while iter<maxiter and (not stop):

    return newcentroids, newpartition

In [ ]:
#--------- Correction ---------
def clustering(data,centroids,dname='eulidean'):
    dta_nb = data.shape[0]
    clust_nb = centroids.shape[0]
    distances_to_centroids = cdist(centroids, data, dname)
    np.mean(distances_to_centroids.min(axis=0)**2)
    clusters = distances_to_centroids.argmin (axis = 0) + 1 #+1 pour avoir les resultats du TD3

In [14]:
X, V, Iw = cmeans(T,3, 'euclidean',1.1)
print Y
print (Iw)
V

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(Y)? (<ipython-input-14-dbfcd97aabe0>, line 2)

### 6) Modifiez la fonction précédente de sorte qu'elle retourne aussi la valeur de l'inertie intra-classes de la partition finale. 
### Vous la testerez sur les données du tableau *T* afin de retrouver les résultats du TD3.

In [ ]:
import numpy as np
#--------- Version originale ---------
n= 5; c=3; 

data = T

centroids = data[np.random.permutation(n)[:c],:]
centroids